/* _arch-vars-start */
$toolbar-base-color: rgba(25,133,208,1);

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
@include icon('cart');
@include icon('camera');

.racks-h2 {
font-size: 1.14em;
color: #333;
text-align: center;
border-top: 1px solid #e5e5e5;
background: #f1f1f5;
padding: 5px 0px 5px 0px;
}